.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

.container {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line on smaller screens */
}

.item {
  flex: 1; /* Items take equal space and grow/shrink as needed */
  min-width: 200px; /* Optional: ensures items don't get too small */
}
