---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  
  <div class="inline opacity-75">
    <p>© {new Date().getFullYear()} Imran Khan</p>
    <p class="text-sm opacity-70">Licensed under the MIT License</p>
  </div>
</footer>
<style></style>
